.Wiz {
  width: 50vw;
  background-color: #e5f4ec;
  position: relative;
}

.wiz_subheader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wiz_heading {
  font-size: 30px;
  margin: 20px;
  font-weight: 700;
}

.wiz_subheader_button {
  margin: 20px;
  border: none;
  padding: 7px;
  font-size: 15px;
  font-weight: 700;
  background-color: #fec2c2;
}

.wiz_subheader_button:hover {
  cursor: pointer;
}

.wiz_input_container {
  margin: 20px auto;
  width: 100%;
  /* border-top: solid 1px black; */
}

.wiz_input_box {
  margin: 10px;
  float: left;
  font-size: 18px;
  font-weight: 700;
  /* text-align: center; */
}

.wiz_input_box > * {
  margin: 2px;
}

.wiz_input_box > p {
  margin-left: 12px;
}

.wiz_input_box > input {
  border: solid 1px #519872;
  border-radius: 2px;
  height: 25px;
}

.wiz_input_box > input:focus {
  outline: none;
}

.wiz_button {
  margin: 20px;
  background-color: #8aea92;
  border: none;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.wiz_button:hover {
  cursor: pointer;
}
