@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

.body {
  max-width: 600px;
  margin: 0 auto;
}

.App {
  font-family: "Open Sans";
  padding-top: 75px;
  background-color: #afd4c0;
  width: 100%;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
