.House {
  width: 100%;
  height: 150px;
  background-color: #dedede;
  margin: 20px 0;
  position: relative;
}

.house_detail_box {
  height: 100%;
  width: 90%;
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.house_delete_button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.house_delete_button:hover {
  cursor: pointer;
}
